body{
    background-color: #FCFCFC ;
    font-family:calibri;
    color:#000;
    font-size:16px;
    line-height: 1.6em;
    margin:0;
  }

.container{
    width:80%;
    margin: auto;
    overflow:hidden;
}

#main-header{
    font-family:cursive;
    background-color:#DBEFCF ;
    color: #333;
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
    padding-top:10px;
    /*to double bottom border*/
    border-bottom:3px double #006666 ;
    border-top: 2px dotted ;
}
#navbar{
    background-color:#333;
    color:#fff;
}
#navbar ul{
   padding:0;
   list-style: none;
}
#navbar li{
  display:inline;
}
#navbar a{
  color:#fff;
  text-decoration: none;
  font-size: 18px;
  padding-right:35px;
}
#showcase{
  background-image: url(lo.jpg);
  height:475px ;
}
#showcase h1{
  color:#fff;
  font-family: Gill Sans Extrabold;
  text-align: center;
  margin-top: 150px;
  -webkit-text-stroke: 1px black;
  font-size:50px;
  line-height: :4.6em;
  padding-top:50px;
}
#main{
  float: left;
  width: 60%;
  font-family: Serif;
  font-size: 18px;
  padding: 30px;
  box-sizing: border-box;
}
#sidebar{
  float: right;
  width: 30%;
  background: #333;
  color:#fff;
  padding: 10px;
  box-sizing: border-box;
}
#main-footer{
    background:#333;
    color:#ffff;
    text-align: center;
    padding: 20px;
    margin-top:300px;
    margin-bottom: 10px;
    /* below is to push it in the bottom*/
    clear: both;
}
@media(max-width:600px){
    #main{
      width:100%;
      float:none;
    }
    #sidebar{
      width:100%;
      float:none;
    }
}
